@use "./c";

.main-game {
    display: grid;
    grid-template-columns: 2, 1fr;
    border: solid red 1px;
background-color: c.$black;
height:100vh;
}

.left-game {


 .title-game {
    color:white;
    font-size: 3rem;
    border: solid red 1px;
 }

}