@use "./c.scss";

.container-header{
    height:9rem;
    background-color: c.$black;
    display: flex;
    align-items: center;
    padding: 0 5rem;
    // justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom:1px solid c.$purple-medium;
    z-index:2;

}

.content-logo {
    flex:1;
    // border: solid 1px blue;
    .logo {
        color:c.$white;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.5rem;
}}

.content-header {
    display: flex;
    align-items: center;
    flex:6;
    // width:120rem;
    // justify-content: space-between;
    


    .nav-header {
        width:30%;
          
        ul {
            display: flex;
            color:c.$white;
            justify-content: flex-end;
            
        } 

        li{
            margin-left:2rem;
            letter-spacing: 0.1rem;
            font-size: 1.2rem;  
        }
    } 

    .search-header {
      width:70%;
      margin:3rem;

        input {
            width:100%;
            border: none;
            padding:1.5rem 6rem;
            background-color: c.$purple-medium;
            border-radius: 3rem;
            font-size: 1.5rem;
        }

        input:hover {
            background-color: c.$white;
            color:c.$black;
            transition: all .3s ease-out;
        }

        input:focus {
            background-color: c.$white;
            color:c.$black;
            outline: none;
        }

        .icon-search-sidebar {
            position: absolute;
            color:c.$black;
            top:3.5rem;
            margin-left:2rem;
            font-size: 2rem;
        }

    }

    ::placeholder{
        color:c.$black;
    }}