@use "./c.scss";

/* CARD MODEL */
.main-home {
    display: flex;
    background-color: c.$black;
    padding:5rem;
}


.container-home {
  flex:5 ;
}

.content-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
 

  // flex-wrap: wrap;
  // justify-content:space-between;
}







