* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  top:0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

li, ul{
  list-style-type: none;
  margin:0;
  padding:0;
}



